<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bim.dao.SysActionMapper">
  <resultMap id="BaseResultMap" type="com.bim.entity.SysAction">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="logout_time" jdbcType="TIMESTAMP" property="logoutTime" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="login_mode" jdbcType="VARCHAR" property="loginMode" />
    <result column="platform_type" jdbcType="VARCHAR" property="platformType" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="udid" jdbcType="VARCHAR" property="udid" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, token, login_time, logout_time, account, mobile, login_mode, platform_type, 
    ip, udid,status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_action
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getByToken" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_action
    where token = #{token,jdbcType=VARCHAR} LIMIT 0,1
  </select>
  <select id="getByUserAndPlatform" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_action
    where user_id=#{userId,jdbcType=INTEGER} and platform_type=#{platform,jdbcType=VARCHAR}
    LIMIT 0,1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_action
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bim.entity.SysAction">
    insert into sys_action (id, user_id, token, 
      login_time, logout_time, account, 
      mobile, login_mode, platform_type, 
      ip, udid,status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, 
      #{loginTime,jdbcType=TIMESTAMP}, #{logoutTime,jdbcType=TIMESTAMP}, #{account,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{loginMode,jdbcType=VARCHAR}, #{platformType,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{udid,jdbcType=VARCHAR},#{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bim.entity.SysAction">
    insert into sys_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="logoutTime != null">
        logout_time,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="loginMode != null">
        login_mode,
      </if>
      <if test="platformType != null">
        platform_type,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="udid != null">
        udid,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null">
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="loginMode != null">
        #{loginMode,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null">
        #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="udid != null">
        #{udid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bim.entity.SysAction">
    update sys_action
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null">
        logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="loginMode != null">
        login_mode = #{loginMode,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null">
        platform_type = #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="udid != null">
        udid = #{udid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bim.entity.SysAction">
    update sys_action
    set user_id = #{userId,jdbcType=INTEGER},
      token = #{token,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      account = #{account,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      login_mode = #{loginMode,jdbcType=VARCHAR},
      platform_type = #{platformType,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      udid = #{udid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>