<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bim.dao.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.bim.entity.SysDict">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="show_name" jdbcType="VARCHAR" property="showName" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, parent_code, show_name, is_delete, memo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getSingleByCode" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where code = #{userLevel,jdbcType=VARCHAR}
  </select>
  <select id="getByCode" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where code = #{code,jdbcType=VARCHAR}
    <if test=" excludeId!=null">
    	and id!=#{excludeId,jdbcType=INTEGER}
    </if>
    LIMIT 0,1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bim.entity.SysDict">
    insert into sys_dict (id, code, parent_code, 
      show_name, is_delete, memo
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, 
      #{showName,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bim.entity.SysDict">
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="parentCode != null">
        parent_code,
      </if>
      <if test="showName != null">
        show_name,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="memo != null">
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="showName != null">
        #{showName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bim.entity.SysDict">
    update sys_dict
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="showName != null">
        show_name = #{showName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bim.entity.SysDict">
    update sys_dict
    set code = #{code,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      show_name = #{showName,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      memo = #{memo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="batchUpdateStatusByIds" >
    update sys_dict
    set is_delete = #{isDelete,jdbcType=INTEGER}
    where id in 
    <foreach collection="ids" item="item" index="index" open="(" close=")" separator="," >
    	#{item}
    </foreach>
  </update>
  <select id="getListByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    <trim prefix="where">
      <if test="searchKey != null and searchKey != ''">
        code like CONCAT('%',#{searchKey},'%' )
        or parent_code like CONCAT('%',#{searchKey},'%' )
        or show_name like CONCAT('%',#{searchKey},'%' )
      </if>
    </trim>
    order by id desc
  </select>
  <select id="getListByParentCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict where parent_code= #{parentCode,jdbcType=VARCHAR} and is_delete=0 
  </select>
</mapper>